* {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

input,
textarea,
select {
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
}

input[type="text"] {
    color: #8b7969;
    padding: 10px 20px;
}

input[type="email"] {
    color: #8b7969;
    padding: 10px 20px;
}

input[type="tel"] {
    color: #8b7969;
    padding: 10px 20px;
}
textarea {
    color: #8b7969;
    padding: 10px 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset;
    -webkit-text-fill-color: #8b7969;
}

.content-title,
.form__radio-text,
.tel__hyphen1,
.tel__hyphen3 {
    color: #8b7969;
}

.form__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 20px;
}

.contact__form {
    display: flex;
    justify-content: center;
    width: 970px;
    margin: 0 auto;
}

.form {
    width: 100%;
}

.form__label {
    font-size: 15px;
}

.form__label-title {
    color: #8b7969;
}

.form__label-required {
    color: #ff9494;
}

.form__box {
    display: grid;
    justify-items: start;
    grid-template-rows: 40px 20px 40px 20px 40px 20px 40px 20px 40px 20px 40px 20px 40px 20px 40px 80px 20px 60px;
    grid-template-columns: 3fr 2fr 1fr 1fr 2fr;
    width: 100%;
}

.form__input-group {
    display: flex;
    justify-content: start;
    align-items: center;
}

.form__input-box--nameF > .form__input-group {
    display: flex;
    justify-content: end;
}

.form__input-box--tel2 > .form__input-group {
    display: flex;
    justify-content: center;
}

.form__input-box--tel3 > .form__input-group {
    display: flex;
    justify-content: end;
}

.form__label-box--name,
.form__label-box--gender,
.form__label-box--email,
.form__label-box--tel,
.form__label-box--address,
.form__label-box--building,
.form__label-box--content,
.form__label-box--detail {
    display: flex;
    align-items: center;
}

.form__label-box--name {
    grid-column: 1/2;
    grid-row: 1/2;
}

.form__input-box--nameL {
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
}

.form__message-box--nameL {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
}

.form__input-box--nameF {
    grid-column: 4/6;
    grid-row: 1/2;
    width: 100%;
}

.form__message-box--nameF {
    grid-column: 4/6;
    grid-row: 2/3;
    width: 100%;
}

.form__label-box--gender {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
}

.form__input-box--gender {
    grid-column: 2/6;
    grid-row: 3/4;
    display: flex;
    width: 100%;
}

.form__message-box--gender {
    grid-column: 2/6;
    grid-row: 4/5;
    width: 100%;
}

.form__label-box--email {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
}

.form__input-box--email {
    grid-column: 2/6;
    grid-row: 5/6;
    width: 100%;
}

.form__message-box--email {
    grid-column: 2/6;
    grid-row: 6/7;
    width: 100%;
}

.form__label-box--tel {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%;
}

.form__input-box--tel1 {
    grid-column: 2/3;
    grid-row: 7/8;
    width: 100%;
}

.form__message-box--tel1 {
    grid-column: 2/3;
    grid-row: 8/9;
    width: 100%;
}

.form__input-box--tel2 {
    grid-column: 3/5;
    grid-row: 7/8;
    width: 100%;
}

.form__message-box--tel2 {
    grid-column: 3/5;
    grid-row: 8/9;
    width: 100%;
}

.form__input-box--tel3 {
    grid-column: 5/6;
    grid-row: 7/8;
    width: 100%;
}

.form__message-box--tel3 {
    grid-column: 5/6;
    grid-row: 8/9;
    width: 100%;
}

.form__label-box--address {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 100%;
}

.form__input-box--address {
    grid-column: 2/6;
    grid-row: 9/10;
    width: 100%;
}

.form__message-box--address {
    grid-column: 2/6;
    grid-row: 10/11;
    width: 100%;
}

.form__label-box--building {
    grid-column: 1/2;
    grid-row: 11/12;
    width: 100%;
}

.form__input-box--building {
    grid-column: 2/6;
    grid-row: 11/12;
    width: 100%;
}

.form__label-box--content {
    grid-column: 1/2;
    grid-row: 13/14;
    width: 100%;
}

.form__input-box--content {
    grid-column: 2/4;
    grid-row: 13/14;
    width: 100%;
}

.form__message-box--content {
    grid-column: 2/6;
    grid-row: 14/15;
    width: 100%;
}

.form__label-box--detail {
    grid-column: 1/2;
    grid-row: 15/16;
    width: 100%;
}

.form__input-box--detail {
    grid-column: 2/6;
    grid-row: 15/17;
    width: 100%;
}

.form__message-box--detail {
    grid-column: 2/6;
    grid-row: 17/18;
    width: 100%;
}

.form__button-box {
    grid-column: 1/6;
    grid-row: 18/19;
    width: 100%;
}

.form__group {
    width: 972px;
}

.form__group:not(:last-of-type) {
    height: 40px;
}

.form__group:last-of-type {
    height: 130px;
}

.form__label {
    position: relative;
    text-align: left;
    vertical-align: top;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.form__input {
    display: flex;
}

.message__error {
    text-align: start;
    margin-top: 0;
    color: #ff9494;
    font-size: 10px;
}

.form__message-box--nameF .message__error {
    margin-left: 20px;
}

.form__message-box--tel2 .message__error {
    margin-left: 10px;
}

.form__message-box--tel3 .message__error {
    margin-left: 23px;
}

.form__input-name {
    width: 95%;
    height: 35px;
}

input[type="radio"] {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #82756a;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #82756a;
    content: "";
}

.form__input-radio {
    display: flex;
}

.form__radio-column {
    display: flex;
    align-items: center;
    width: 130px;
}

.form__input-gender {
    width: 60%;
    height: 20px;
}

.form__radio-text {
    margin-left: 10px;
}

.form__input-email {
    width: 100%;
    height: 35px;
}

.form__input-tel {
    width: 90%;
    height: 35px;
}

.tel__hyphen1 {
    margin-left: 14px;
}

.tel__hyphen3 {
    margin-right: 14px;
}

.form__input-address {
    width: 100%;
    height: 35px;
}

.form__input-building {
    width: 100%;
    height: 35px;
}

.form__input-content {
    width: 100%;
    height: 35px;
    padding-left: 20px;
    color: #82756a;
}

.form__input-detail {
    width: 100%;
    height: 120px;
    resize: none;
}

::placeholder {
    color: #8b7969;
}

.form__input-tel::placeholder {
    text-align: center;
}

.form__button-box {
    display: flex;
    justify-content: center;
    align-items: end;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button-submit {
    background-color: #82756a;
    border: none;
    border-radius: 2px;
    color: #fff;
    width: 160px;
    height: 40px;
    padding: 10px 40px 10px 40px;
}
